html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

.main,
main {
    flex-grow: 1;
}

.container {
    max-width: 1340px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}