// Required
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #FFD845;

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
// etc
$border-radius-lg: 20px;
$border-radius: 15px;
$h1-font-size: 24px;